/.python-version
/output
/nb_testing
/opentargets_pharmgkb.egg-info
/build
/dist
/env
/venv
.cache
.eggs
*.coverage
.ipynb_checkpoints

# General
*.jar
*.war
*.o
*.lib
*.a
*.so
*.so.*
*.out
*.log
sonar-project.properties

# Maven
target/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Python
*.pyc

# Nextflow
.nextflow*
work/
